.outerBox {
  height: 200px;
  width: 80%;
  background: #fdc61a;
  border-radius: 4px;
  padding: 5%;
  margin: 4em auto;
}
.innerBox {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 4px;
}
